body {
	font: 14px/21px "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

pre {
	border: 1px solid #aaa;
	background: #eee;
	padding: 5px;
}

#grad {
	display: none;
}
