html, body, pre {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/21px "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

pre {
	border: 1px solid #aaa;
	background: #eee;
	padding: 5px;
}

h2 {
	margin: 1em 0 0;
}

article {
	clear: both;
	overflow: hidden;
}

footer {
	clear: both;
	padding: 1em 0 0;
}

footer p {
	margin: 0
}

#container {
	margin: 10px;
	overflow: hidden;
}

h3.use {
	border: 1px dashed #aaa;
	padding: 5px;
	float: left;
	background: #eee;
}
#grad {
	display: none;
}

pre.css {
	float: left;
}

.img {
	background: url(../img/bg-sq.png);
	border: 1px solid #aaa;
	padding: 0 10px 10px;
	text-align: center;
	float: left;
	margin: 0 10px;
}

.img img {
	display: block;
	margin: 0 auto;
}

.cssgradient {
	margin: 0 auto;
}
